.home{
    padding: 8px 20px;
    border-radius: 27px;
  }
.home:hover{
    padding: 8px 20px;
    border-radius: 27px;
    background-color: gray;
}
.tombol{
    padding: 8px 20px;
    border-radius: 27px;
  }
.tombol:hover{
    padding: 8px 20px;
    border-radius: 27px;
    background-color: gray;
}

.center {
    margin-left: 300px;
    width: 55%;
    font-size: 30px;
}

#map {
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: fit-content;
  position:relative;
}